* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body,
p {
  margin: 0;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.players {
  font-size: 2.4rem;
  box-shadow: var(--box-shadow);
}

.players .icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5em;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
  transition: all 200ms ease-in;
}

.player.has-turn {
  background: rgb(125, 205, 133, 0.5);
}

.game-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2em;
  box-shadow: var(--box-shadow);
}

.game-area.inactive {
  pointer-events: none;
}

.square {
  padding: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.square:not(:nth-child(3n)) {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.square:last-child,
.square:nth-last-child(2),
.square:nth-last-child(3) {
  border-bottom: 0;
}

.square.chosen {
  pointer-events: none;
}

.square .icon {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.square.chosen .icon {
  opacity: 1;
}

.square:not(.chosen):hover .icon {
  opacity: 0.2;
}

.toast {
  position: fixed;
  left: 0;
  right: 0;
  font-size: 2rem;
  background: rgb(125, 205, 133);
  box-shadow: var(--box-shadow);
  transition: all 500ms ease-in-out;
  padding: 1em;
}

.toast.hidden {
  transform: translateY(-100%);
  opacity: 0;
}
